.car{
    margin-top: 25px;
    p{width:1000px;margin: 0 auto;text-align: end;
        .pay{color: #FDB14F;}  }
    p span{display: inline-block;width:50px ; text-align: center;cursor:pointer;}
    table{
        border: #FDB14F solid 1px;
        // border-radius: 12px;//?????
        text-align: center;
        tr td:nth-child(6){width: 50px;}
        tr td:nth-child(7){width: 50px;}
        input{width: 150px;height: 40px;text-align: center;}
        #allc{width: 30px;height: 30px;text-align: center;padding-top:25px;}
        .quanxuan,.check{width: 15px;height: 15px;margin-top:10px;} 
        .alldelete,.delete{background: #FDB14F;cursor: pointer;} 
           
         .thead{
            
        tr{
            th{
                
                border: #FDB14F solid 1px;
                // input{

                // }
            }
        }
    } 
        
    tbody{      
        tr{
            td{
                border-right: 0;
                img{width: 100px;}
                
                }
            }
        }
    }
}


            