
// .t{
//     background: #fff;
//     height: 550px;
//     padding-top: 100px;
//     .t-l{width: 240px;height: 300px;background: #99f;position: relative;img{width: 100%;}
//         .big{width:360px;height: 450px;background: pink;position: absolute;left:305px;top: 0;display: none;}
//     }
// }

.sBox{width:400px;height:300px;position: relative;left: 50px;top:20px;}
.sBox img{width:400px;height:300px;}
/**1.将span的背景色改成背景图,设置大小与大框一致*/
.sBox span{background: url(../images/1550564293201665977.jpg) no-repeat;background-size:400px 300px;position: absolute;left:0;top:0;display: none;}

.bBox{width:400px;height:300px;position: absolute;left: 500px;top:140px;overflow: hidden;display: none;z-index: 5;}
.bBox img{width: 1200px;height: 900px;position: absolute;}
.t-r{width:500px;height:300px;position: absolute;top:140px;right: 0;
.t-r-t{font:28px/60px "";color: #555;border-bottom: #999 1px solid;}
.t-r-t-price{color: #ff3300;font: 28px/40px "";border-bottom: #999 1px solid;height: 40px;}

.t-r-t-addCar{display: block;
    float: left;
    margin-right: 20px;
    min-width: 240px;
    line-height: 48px;
    height: 48px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    background-color: #FDB14F;
    margin-top: 20px;
    border-radius: 12px;
    }
}