.list{
    display: flex;justify-content: flex-start;
    flex-wrap: wrap;
    div{
        width: 250px;height: 280px;
        border: 1px solid rgba(199,111,0,0.07);
        margin-right: 14px;
        &:hover{box-shadow: 6px 6px 6px 6px #eee;
            transition: .2s linear;}
        background: #fff;
        cursor: pointer;
        text-align: center;
        padding: 30px 20px 20px 20px;
        border-radius: 12px;
        p.name{white-space:nowrap;overflow:hidden;width: 192px;text-align: center;font:12px/22px "";color:#333;padding:15px 0 0;&:hover{color:#FDB14F;}}
        p.addcar{background:#FDB14F ;width: 150px;height: 30px;border-radius: 6px;font:16px/30px "";color:#fff;text-align: center;margin: 0 auto;}
        p.price{@extend p.name;color:#FDB14F;padding:6px;}
        img{width: 160px;height: 160px;}
            margin-bottom: 14px;
    }
}